header {
  font-size: 1px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------*/
body {
  background-color: #e8e8e8;
  margin: 30px;
}

.content__top--list li {
  color: #273d46;
  font-size: 20px;
  line-height: 36px;
}
.content__top--list-1 {
  margin: 0 0 30px 0;
}
.content__top--list-1 li:nth-child(1) {
  text-decoration: line-through;
  color: #273d46;
}
.content__top--list-1 li:nth-child(2) {
  color: #273d46;
  font-weight: 700;
}
.content__top--list-1 li:nth-child(3) {
  color: #273d46;
  font-style: italic;
}
.content__top--list-1 li:nth-child(4) {
  color: #273d46;
  text-transform: uppercase;
}
.content__top--list-2 li:hover {
  color: red;
}
.content__top li::before {
  content: " ";
  background: url("../IMG/check icon.svg") 0 0 no-repeat;
  display: inline-block;
  width: 25px;
  height: 19px;
}
.content__middl {
  margin: 30px 0 30px 0;
}
.content__middl--text p {
  margin: 0 0 30px 0;
}
.content__middl--text p:first-child::first-line {
  color: red;
}
.content__middl--text p:last-child::first-letter {
  color: red;
}
.content__bottom--form-batton {
  filter: drop-shadow(0px 6px 20px rgba(128, 183, 179, 0.54));
  display: inline-block;
  background-color: #80b7b3;
  border-radius: 50px;
  padding: 0 26px 0 21px;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Arial";
}
.content__bottom--form-batton span {
  background: url("../IMG/Shape 3.png") right no-repeat;
  padding: 0 26px 0 0;
}
.content__bottom--form-batton:hover {
  background-color: #3a5856;
}
.content__bottom--form-batton:active {
  background-color: #818181;
}